{% extends "task/nav.html" %}
{% load static %}

{% block task_statics %}
    <link href={% static "css/task/task_list.css" %} rel="stylesheet">
    <script src={% static "js/task/task_list.js" %}></script>
{% endblock %}

{% block task_content %}
    <div class="container">
        {% for task in tasks %}
            <div class="card" style="width: 18rem;" id="task{{task.id}}">
                <div class="card-header">
                    {% if task.is_complete %}
                        <span class="span-complete">완료</span>
                        <span class="span-complete-date">{{ task.str_completed_date }}</span>
                    {% else %}
                        <span class="span-uncomplete">미완</span>
                        <span class="span-complete-date"></span>
                    {% endif %}
                    {% if task.create_user == user.id %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                            </svg>
                    {% endif %}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ task.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">{{ task.username }}</h6>
                    <p class="card-text">{{ task.content }}</p>
                </div>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">팀명</th>
                        <th scope="col">완료</th>
                        <th scope="col">완료일</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for st in task.subtask_set %}
                            <tr>
                                <th scope="row">{{ st.team }}</th>
                                <td>
                                    {% if user.team == st.team %}
                                        {% if st.is_complete %}
                                            <input id="subtask_{{st.id}}" onclick="check_subtask(this)" class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
                                        {% else %}
                                            <input id="subtask_{{st.id}}" onclick="check_subtask(this)" class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    {% endif %}
                                    {% else %}
                                        {% if st.is_complete %}
                                            <input id="subtask_{{st.id}}" class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminateDisabled" checked disabled>
                                        {% else %}
                                            <input id="subtask_{{st.id}}" class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminateDisabled" disabled>
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if st.is_complete %}
                                        {{ st.str_completed_date }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </div>
{% endblock %}